body{


    background-color:  ;
     border:1px solid gold; padding: 30px;
}

button {


 color: light;
   background-color: transparency;
     text-decoration: underline;  font-family:courier;
       margin:20;
         font-size:50px;
}










h1{



            border:2px solid purple; background-color:grey;
padding: 30px;
    margin:20;
}

h2{

   border:3px solid SlateBlue; font-family:courier; font-size:120%;   text-align:center;
padding: 30px;
    margin:20;
}






}

img{

padding: 30px;
border:20px solid blue;

    width:100px;height:100px;
    margin:20;
}



