body{
    

    background-color:  ;
     border:1px solid blue; padding: 30px;
}

button{
    color:grey;
    background-color:light gold;
                   border:2px solid purple;   font-family:courier;

}

h1{
 

 
            border:2px solid purple; background-color:grey;
padding: 30px;
}

h2{
    
   border:3px solid SlateBlue; font-family:courier; font-size:120%;   text-align:center;
padding: 30px;
}                     
a{
   padding: 40px;
border:20x solid gold; 
 
Width:50px; height:50px;
   



}

img{
padding: 30px;
border:25px solid skyblue;
    
    width:100px;height:100px;
}

snap{
padding:30px;
border:20px solid purple;

width:50px; height:50px;

}
