body{
    

    background-color:  ;
     border:1px solid blue; padding: 30px;
}

button{
    color:grey;
    background-color:light gold;
                   border:2px solid purple;   font-family:courier;

}

h1{
 

 
            border:2px solid purple; background-color:grey;
padding: 30px;
}

h2{
    
   border:3px solid SlateBlue; font-family:courier; font-size:120%;   text-align:center;
padding: 30px;
}                     
a{
   

 

   

width:100px;height:100px;

}
